<div class="col-md-3">
  <p class="lead">メーカー</p>
  <div class="list-group">
    <a href="#" class="list-group-item">APPLE</a>
    <a href="#" class="list-group-item">SAM SUNG</a>
    <a href="#" class="list-group-item">LG</a>
    <a href="#" class="list-group-item">OPPO</a>
    <a href="#" class="list-group-item">VIET NAM</a>
  </div>

  <p class="lead">トップレビュー</p>
  <div class="list-group">
    <a href="#" class="list-group-item">レビュー１</a>
    <a href="#" class="list-group-item">レビュー2</a>
    <a href="#" class="list-group-item">レビュー3</a>
    <a href="#" class="list-group-item">レビュー4</a>
    <a href="#" class="list-group-item">レビュー5</a>
  </div>

  <p class="lead">人気な製品</p>
  <div class="list-group">
    <a href="#" class="list-group-item">製品１</a>
    <a href="#" class="list-group-item">製品２</a>
    <a href="#" class="list-group-item">製品３</a>
    <a href="#" class="list-group-item">製品４</a>
  </div>
</div>
