<%= provide :title, "ホームページ" %>
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill""></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div >

<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item active">メーカー</a>
          <a href="#" class="list-group-item">APPLE</a>
          <a href="#" class="list-group-item">SAM SUNG</a>
          <a href="#" class="list-group-item">LG</a>
          <a href="#" class="list-group-item">OPPO</a>
          <a href="#" class="list-group-item">VIET NAM</a>
        </div>
        
        <div class="list-group">
          <a href="#" class="list-group-item active">トップレビュー</a>
          <a href="#" class="list-group-item">レビュー１</a>
          <a href="#" class="list-group-item">レビュー２</a>
          <a href="#" class="list-group-item">レビュー３</a>
          <a href="#" class="list-group-item">レビュー４</a>
        </div>
        
        <div class="list-group">
          <a href="#" class="list-group-item active">人気な製品</a>
          <a href="#" class="list-group-item">製品１</a>
          <a href="#" class="list-group-item">製品２</a>
          <a href="#" class="list-group-item">製品３</a>
          <a href="#" class="list-group-item">製品４</a>
        </div>
        </div>      
                        
      <div class="col-sm-9">
        
      <div class="one">
          <table class="table table-bordered">
          <div class="list-group">
          <p> <strong> 最新のレビュー</strong> </p>
          <thead>
            <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
          </thead>
          <tbody>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
          </tbody>
          </div>  
          </table>
      </div>
      
      <div class="two">
          <table class="table table-bordered">
          <p><strong> 最新の製品</strong> </p>
          <thead>
            <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
          </thead>
          <tbody>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
          </tbody>
          </table>
          
          <div class="two">
          <table class="table table-bordered">
          <p><strong> 人気な製品</strong> </p>
          <thead>
            <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
          </thead>
          <tbody>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
             <tr>
            <th><img src="D:\xampp\htdocs\1.jpg" style="width:10%;height:10%">
            </th>
            <th>タイトル</th>
            </tr>
          </tbody>
          </table>
          
      </div>  
      </div>
     </div>
</div>
