<%= provide :title, "ホームページ" %>
<div id="carousel">
  <figure id="spinner">
    <img src="http://cdn.gsmarena.com/imgroot/news/16/10/macbook-pro-leak/-728/gsmarena_002.jpg" alt>
    <img src="http://cdn.gsmarena.com/imgroot/reviews/16/zte-axon-7/lifestyle/-728w2/gsmarena_001.jpg" alt>
    <img src="http://hc.com.vn/news/wp-content/uploads/tieu-chi-chon-smartphone-cac-ban-hoc-sinh-sinh-vien-nen-biet-1.jpg" alt>
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR-jBzAa-yGk47KRmt7LkL0f36dn-cx_egHyBgtCS9qKYe8rNkq_g" alt>
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSywnWl3b1uEjCG522PSQRh34etVgNWPa9uiDswEWCfecGWyp0czA" alt>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4L_QH9SBGuQPxiMDMZAbSKUjR-C6zxNSw6A97QtaetTCbIpwE" alt>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSvWnMQ5GrPbbjQ2Ad6Q_uHxCIvQPb_wqI99NrgR4HCvqNZQbhhpA" alt>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ5dvICwwM7GkoxdkjikazPJKuPZYWFigwVANOFcnX86FJvZcmK9g" alt>
  </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>

<div class="container">
  <%= render "side_bar"%>
  <div class="col-sm-9">
  <table class="table table-borderless">
    <p><strong>最新の製品</strong></p>
  </table>
  </div>
</div>
