<%= provide :title, "ホームページ" %>
<div id="carousel">
  <figure id="spinner">
    <img src="http://cdn.gsmarena.com/imgroot/news/15/07/top-10-trending-phones-week-28/inline/-728/gsmarena_002.jpg" alt>
    <img src="http://cdn.gsmarena.com/imgroot/news/15/07/top-10-trending-phones-week-28/inline/-728/gsmarena_002.jpg" alt>
    <img src="http://cdn.gsmarena.com/imgroot/news/15/07/top-10-trending-phones-week-28/inline/-728/gsmarena_002.jpg" alt>
    <img src="http://cdn.gsmarena.com/imgroot/news/15/07/top-10-trending-phones-week-28/inline/-728/gsmarena_002.jpg" alt>
    <img src="http://cdn.gsmarena.com/imgroot/news/15/07/top-10-trending-phones-week-28/inline/-728/gsmarena_002.jpg" alt>
    <img src="http://cdn.gsmarena.com/imgroot/news/15/07/top-10-trending-phones-week-28/inline/-728/gsmarena_002.jpg" alt>
    <img src="http://cdn.gsmarena.com/imgroot/news/15/07/top-10-trending-phones-week-28/inline/-728/gsmarena_002.jpg" alt>
    <img src="http://cdn.gsmarena.com/imgroot/news/15/07/top-10-trending-phones-week-28/inline/-728/gsmarena_002.jpg" alt>
  </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>

<div class="container">
  <%= render "side_bar"%>
  <div class="col-sm-9">
  <table class="table table-borderless">
    <p><strong>最新の製品</strong></p>
    <tr class="phone-name">
      htc
    </tr>
    <tr>
      <th class="phone-image"><%= image_tag "a.jpg" %></th>
      <th>
        <table class="table table-borderless">
          <tr>
            <td colspan="2" class="big-info">
              <i class="fa fa-calendar" aria-hidden="true"></i> Released 2016, September <br>
              <i class="fa fa-mobile-phone" aria-hidden="true"></i> 188g, 7.3mm thickness <br>
              <i class="fa fa-check" aria-hidden="true"></i> iOS 10.0.1, up to iOS 10.0.2 <br>
              <i class="fa fa-tags" aria-hidden="true"></i> 64GB storage, microSD card slot <br>
            </td>
            <td class="small-info">a</td>
            <td class="small-info">a</td>
          </tr>
          <tr>
            <td class="small-info">a</td>
            <td class="small-info">a</td>
            <td class="small-info">a</td>
            <td class="small-info">a</td>
          </tr>
        </table>
      </th>
    </tr>
  </table>
  </div>
</div>
