<%= provide :title, "ホームページ" %>
<%= render "shared/carousel"%>
<div class="container">
  <%= render "side_bar"%>
  <div class="col-sm-9">
  <table class="table table-borderless">
    <p><strong>最新の製品</strong></p>
  </table>
  </div>
</div>
