<section id="dg-container" class="dg-container">
  <div class="dg-wrapper">
  <% 4.times do |i|%>
    <%= link_to mobile_path Mobile.find(i+1) do %>
     <%= image_tag Mobile.find(i+1).image, :alt => "image0#{i+1}"%>
    <% end %> </a>
  <% end %>

</div>
    </section>

<script type="text/javascript">
    $(function() {
        $('#dg-container').gallery({
            autoplay: true
        });
    });
</script>
