<div class="recommended_items"><!--recommended_items-->
  <h2 class="title text-center">Viewed phones</h2>

  <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <% session[:history].last(3).each do |i| %>
          <%= render Mobile.find(i) %>
        <% end %>
      </div>
    </div>
  </div>
</div><!--/recommended_items-->
