<% provide :title, "All brands" %>
<div class="features_items"><!--features_items-->
  <h2 class="title text-center">all brands</h2>
  <% @brands.each do |brand| %>
    <%= link_to brand.name, brand, class: "btn btn-default"%>
  <% end %>
</div><!--features_items-->
