<% provide :title, "#{@brand.name}"%>

<div class="features_items"><!--features_items-->
  <h2 class="title text-center"><%= @brand.name %> Phones</h2>
  <%= render @brand.mobiles %>
</div><!--features_items-->
