
      <div class="bg">
        <div class="row">
          <div class="col-sm-12">
          <h2 class="title text-center">Contact <strong>Us</strong></h2>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="contact-info">
              <address>
              <p>Den Team</p>
              <p>K57 HUST</p>
              <p>Japanese IT project</p>
              <p>Mobile: +84 905 068 885</p>
              <p>Email: qmau49@gmail.com</p>
              </address>
              <div class="social-networks">
                <h2 class="title text-center">Social Networking</h2>
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-youtube"></i></a>
                </li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
