<% provide :title, @mobile.name %>
<h1> <%= @mobile.name %> </h1>
<%= link_to "Edit", edit_admin_mobile_path(@mobile), class: "btn btn-primary"%>
<%= render "mobiles/mobile" %>
<%= render "mobiles/mobile_specs" %>

